@import "style";
.row .col h2 {
    font-weight: bold;
    color: black;
    background-color: $primary-bg;
}
.row .col-12 h2 {
    font-weight: bold;
    color: black;
    background-color: $primary-bg;
}