$primary-bg: #cdb988;
$secondary-bg: #f4eddf;
$color: #cdb988;

// navigation bar
$primary-color: #071952;
$hover-color: #515a1f;
$hover-bg: #cdb988;
$bold-font: bold;

// ukuran font
$ukuranJudul: 18px;
$ukuranParagraf: 13px;

$padding: 15px;
$border-radius: 10px;
