@import "style"; 

#testimoni {
    .testimoni-card {
      border: 2px solid #cdb988;
      transition: transform 0.2s;
  
      
    }
  }

.testimoni-card{
    border: 2px solid $color;
    border-radius: $border-radius;
}
