// Penerapan modul
@use "modal";
@import "faq";

@import "style";

@function changecolor-container($map, $key){
    @return map-get($map, $key);
}

@function modal-font($map, $key){
    @return map-get($map, $key);
}

// melakukan deklarasi nilai variabel
$warna:(
    "primary": #cdb988,
    "secondary": #f4eddf,
);

$font : (
    "font1" : "roboto",
    "font2" : "montserrat"
);

// mulai styling
.accordion-button:focus {
    background-color: $primary-bg;
    font-weight: bold;
}
.accordion-item {
    background-color: $secondary-bg;
    font-weight: normal;
}

#nama:focus{
    background-color: changecolor-container($warna, "secondary");
}

#email:focus{
    background-color: changecolor-container($warna, "secondary");
}

#pesan:focus{
    background-color: changecolor-container($warna, "secondary");
}

p.text-justify {
    font-family: modal-font($font, "font2") !important;
}
.card-img {
    border: 1px solid #cdb988; /* Border tipis berwarna hitam */
  }
#produk-item:hover{
    transform: scale(1.05); /* Efek zoom (1.05 untuk 105% zoom) */
}

// Penerapan Extend
.ukuran{
    width: auto;
    height: auto;
}

.carousel-inner .card img{
    @extend .ukuran;
}