$primary-color: #071952 !global;
$primary-bg: #F0F0F0 !global;
$hover-color: #515a1f;
$hover-bg: #cdb988;
$bold-font: bold;
$font-size: 18px;


body{
    background-color: $primary-bg;
}

#navbarNavAltMarkup a{
    color: $primary-color;
}

#navbarNavAltMarkup a:hover {
    color: $hover-color;
    background-color: $hover-bg;
    border-radius: 20%;
}

.navbar-nav a {
    font-weight: $bold-font;
    font-size: $font-size;
    margin-right: 40px;
}

@media (max-width: 820px) {
    #navbarNavAltMarkup a:hover {
        background-color: transparent;
    }
}