@import "style";
$colors-bg: ("primary": #cdb988, "secondary": #f4eddf);

@each $color-name, $color-bg in $colors-bg {
    .background-#{$color-name} {
        background-color: $color-bg;
    }
}

$type:("small": 10px, "medium": 16px, "large": 32px);

@each $name, $size in $type {
    .font-#{$name} {
        font-size: $size;
    }
}

$weight:("light": 200, "normal": 400, "semibold": 600, "bold": 800);

@each $name, $fw in $weight {
    .font-#{$name} {
        font-weight: $fw;
    }
}

@import "style"; // ourteam

$team-members: ("Fahri", "Rici", "Serly", "Bariza", "Widhiani");
@mixin hover-color {
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: darken(wheat, 10%); 
    }
  }
  @each $name in $team-members {
    .team-member-#{$name} {
      @include hover-color;
    }
  }
// kondisi untuk warna text
// @mixin pop-up($size, $is-success: false) {
//     font-size: $size;

//     @if $is-success{
//         color: red;
//     }
// }

// .text-1 {
//     @include pop-up(20px, $is-success: true);
// }

// .text-2 {
//     @include pop-up(15px, $is-success: false);
//     color: blue;
// }